*.txt
*.pptx
*.png
*.DS_Store
output/
data/Climate/
data/Raw/
# Ignore large/unnecessary files
*.zip
*.pptx
*.png
*.DS_Store
build/
data/Climate/
data/Raw
/build/
*.zip
*.pptx
*.csv
*.png
*.pdf
*.xlsx
*.zip
*.pptx
*.png
*.DS_Store
output/
data/Climate/
*.zip
*.txt
*.doc
*.DS_Store
build/
data/Climate/
